# --- SECURITY SETTINGS ---
# Password for the .p12 certificate briefcases
CERT_PASSWORD=changeit

# Credentials for the Eureka "Phonebook"
EUREKA_USERNAME=admin
EUREKA_PASSWORD=admin_password

# Credentials for redis cache
REDIS_PASSWORD=password

# Credentials for postgres db
DB_NAME=db
DB_USER=admin
DB_PASSWORD=admin_password

# --- NETWORK SETTINGS ---
# Internal and External Ports
EUREKA_SERVER_PORT=8761
GATEWAY_PORT=8443

# --- SPRING SETTINGS ---
# Tells Spring we are running in a container
SPRING_PROFILES_ACTIVE=docker