# .env — never commit this
COMPOSE_PROJECT_NAME=transcendence
DB_PASSWORD=password
DB_USER=transcendence
DB_NAME=transcendence_db

REDIS_PASSWORD=password


CERT_PASSWORD=password
CERT_DIR_PATH=/home/yjazouli/1337/Microservices/certs

EUREKA_USERNAME=admin
EUREKA_PASSWORD=password

CONFIG_USERNAME=admin
CONFIG_PASSWORD=password
CONFIG_REPO_PATH=/home/yjazouli/1337/Microservices/config/config-repo

# Exposed Infrastructure Ports (Host Mappings)
GATEWAY_PORT=8080
POSTGRES_PORT=5432
PGWEB_PORT=8085
REDIS_PORT=6380
REDIS_COMMANDER_PORT=6381
KAFKA_PORT=9092
KAFKA_UI_PORT=8086

GOOGLE_CLIENT_ID=?
GOOGLE_CLIENT_SECRET=?
